* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    cursor: pointer;
}

.top-bar {
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: #f5f5f5;
    position: fixed;
    top: 0;
    z-index: 1000; /* Ensure the top-bar stays on top of other elements*/   
}

.email-link a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}

.nav-links {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-links a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#main {
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top:4rem;
    padding-left: 15%;
    padding-right: 15%;
    /* animation: moveUp .75s ease-in backwards; */
}

span {
    color: black;
    font-size : 2.25rem;
}

#main > h2 {
    font-size: 3.5rem;
    color: #555;
    margin-bottom: .5rem;
}

h2 > span {
    font-size: 5rem;
    color: black;
}

h4 {
    font-size: 1.25rem;
    color: aqua;
    font-weight: 200;
}

#main > p {
    font-size: 1.5rem;
    font-weight: 600;
}

#main > .about-intro {
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
}

/* 
@keyframes moveUp {
    0% {
        transform: translateY(25%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}  */

h3 {
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.action {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn-link {
    color: white;
    font-size: 1.25rem;
    font-weight: 100;
}

.hire-btn, .resume-download-btn {
    border: none;
    border-radius: .85rem;
    background-color: black;
    color: white;
    padding: .5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    text-decoration: none;
    color: aqua;
    font-size: 1.25rem;
    border: 1px solid aqua;
    border-radius: 1rem;
    padding: 1rem 3rem;
}

.item:hover {
    background-color: aqua;
    cursor:pointer;
}

#content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top:4rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

#content span {
    padding-bottom: 0.5em;
    color: black;
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
}

.content-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%; 
    height: auto;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33% - 16px);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.01);
}

.card-image img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 0.75rem;
}

.card-content h2 {
    font-size: 1.5rem;
    margin-bottom: .6rem;
}

.card-content p {
    font-size: 1rem;
    color: #555;
    margin-bottom: .6rem;
}

footer {
    margin-top: 3rem;
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: black;
    border-top: 1px solid black;
    padding:.5rem .75rem;
}











